mixin navLink(icon, label, href)
  a.mdl-navigation__link(href=href)
    i.mdl-color-text--blue-grey-400.material-icons(role="presentation")=icon
    =label

mixin controlCard(title, elementID, link)
  .mdl-cell.mdl-cell--4-col.mdl-shadow--2dp.mdl-card
    .mdl-card__title.mdl-card--border(id=elementID)=title
      if link
        .mdl-layout-spacer
        a(href=link)
          .mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-js-ripple-effect.mdl-button--colored
            i.material-icons arrow_forward
    ul.mdl-list
      li.mdl-list__item
        i.material-icons lightbulb_outline
        label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="switch_" + elementID)
          input.mdl-switch__input(type="checkbox", id="switch_" + elementID)
        i.material-icons brightness_medium
        input.mdl-slider.mdl-js-slider(type="range", min="0", max="100", value="0", tabindex="0", id="slider_" + elementID)

mixin lightControlCard(title, colour, elementID, link)
  .mdl-cell.mdl-cell--4-col.mdl-shadow--2dp.mdl-card
    .mdl-card__title.mdl-card--border(id=elementID)=title
      if link
        .mdl-layout-spacer
        a(href=link)
          .mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-js-ripple-effect.mdl-button--colored
            i.material-icons arrow_forward
    ul.mdl-list
      li.mdl-list__item
        i.material-icons lightbulb_outline
        label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="switch_" + elementID)
          input.mdl-switch__input(type="checkbox", id="switch_" + elementID)
        i.material-icons brightness_medium
        input.mdl-slider.mdl-js-slider(type="range", min="0", max="100", value="0", tabindex="0", id="slider_" + elementID)
      if colour == 'rgb'
        li.mdl-list__item
          i.material-icons palette
          .app-hue-slider
            input.mdl-slider.mdl-js-slider(type="range", min="0", max="100", value="0", tabindex="0", id="slider-hue_" + elementID)
        li.mdl-list__item
          i.material-icons panorama_fish_eye
          .app-white-slider
            input.mdl-slider.mdl-js-slider(type="range", min="0", max="100", value="0", tabindex="0", id="slider-sat_" + elementID)
